*{
    font-family: "MuseoSans";
}

#h1{
    font-size: 50px;
    width: 50%;
    text-align: center;
    color: #575252;
    font-weight: 550;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#p{
    font-size: 20px;
    color: #4B4B4B;
    margin-top: -17px;
}
#btn {
    height: 50px;
    width: 200px;
    background-color: #f37e5d;
    border: 1px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 8px;
  }
  #p2{
    font-size: 15px;
    color: #7d7979;
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img{
    height: 520px;
}
#h2{
    font-size: 30px;
    color: #4B4B4B;
    margin-top: 100px;
}
#companies{

    height: 350px;
 
}
#companiesImg1{
    display: flex;
  
    gap:40px;
    justify-content: center;
}
#companiesImg2{
    display: flex;
 
    gap:40px;
    justify-content: center;
    margin-top: 40px;
}
#prod{
    font-size: 30px;
    color: #4B4B4B;
    margin-top: 40px;
}
#carrier1{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 70px;
}
#unit1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 498.45px;
    width: 500px;
   
}
#pic1{
    height:120px;
    width: 500px;
  object-fit: cover;
  position: relative;
}
#icon1{
    height: 60px;
    width: 60px;
     object-fit: cover;
     position: absolute;
     margin-left: -470px;
     margin-top: 90px;
}
#head{
    font-size: 22px;
    color: #4B4B4B;
    text-align: left;
    padding: 30px;
}
#p1{
    font-size: 17px;
    color: #4B4B4B;
    margin-top: -35px;
    width: 70%;
    text-align: left;
   margin-left: 30px;
}
#list{
    line-height: 20px;
    margin-top: 30px;
  

}
#list>p{
   text-align: left;
   margin-left: 80px;
   font-size: 17px;
   color: #4B4B4B;
}
#explore{
    height: 44.56px;
    width:143.58px;
    background-color: #FFEDE3;
    color:#f37e5d;
    font-size: 13px;
    border:1px;
    margin-right: 270px;
    border-radius: 5px;
    margin-top: 15px;
}

#carrier2{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
#grow{
    font-size: 30px;
    color:#4B4B4B;
    background-color: white;
    margin-top : 50px;
}
#explore3{
    height: 44.56px;
    width:143.58px;
    background-color: #DFE8F9;
    color:#618BE0;
    font-size: 13px;
    border:1px;
    margin-right: 270px;
    border-radius: 5px;
    margin-top: 15px;
}
#explore4{
    height: 44.56px;
    width:143.58px;
    background-color: #E6DEFA;
    color:#835CE5;
    font-size: 13px;
    border:1px;
    margin-right: 270px;
    border-radius: 5px;
    margin-top: 15px;
}
#d1{
    font-size: 17px;
    color: #4B4B4B;
    margin-top: -35px;
    width: 80%;
    text-align: left;
   margin-left: 30px;
}
#trust{
    font-size: 18px;
    color: #4B4B4B;
    margin-top: -10px;
    background-color: white;
}
#quadrantContain{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    margin-top : 50px;
}
#quadrant{
    height: 236.39px;
    width: 350px;
    border:1px solid white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
#quadrant>h1{
    font-size: 50px;
    color:#4c4a4a;
}
#quadrant>h2{
    margin-top: -30px;
    color:#4c4a4a;
    width: 100%;  
}
#quadrant>hr{
    width: 20%;
}
#quadrant>p{
    font-size: 18px;
    color: #4B4B4B;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 25px;
}
#quadrant:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#quadrant2{
    height: 236.39px;
    width: 350px;
    border:1px solid white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
#quadrant2:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#quadrant2>img{
    height:85px;
    width: 147px;
    object-fit: cover;
    margin-top: 50px;
}
#quadrant2>p{
    font-size: 18px;
    color: #4B4B4B;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 25px;
}
#quadrant3{
    height: 236.39px;
    width: 350px;
    border:1px solid white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
#quadrant3>img{
    height:105px;
    width: 147px; 
    object-fit: contain;
    margin-top: 50px;
}
#quadrant3>p{
    font-size: 18px;
    color: #4B4B4B;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 25px;
}
#quadrant3:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#white{
    height: 470px;
    border:1px solid white;
    background-color: white;
    margin-top : 100px;
}
#start{
    height: 200px;
    width: 100%;
    background-color: #f8a278;
    position: relative;
}
#start>h2{
    font-size: 28px;
    background-color: #f8a278;
    color: white;
    margin-top: 50px;
    position: absolute;
    margin-left: 540px;
    text-align: center;
}
#start>button{
    height: 50px;
    width: 240px;
    background-color: #ffffff;
    border: 1px;
    font-size: 16px;
    color:#f37e5d;
  
    font-weight: bold;
    margin-top: 100px;
}
